// Media Queries
@mixin media($brk) {
  @if ($brk == 'small') {
    @media (min-width: 375px) {
      @content;
    }
  }
  @else if ($brk == 'medium') {
    @media (min-width: 769px) {
      @content;
    }
  }
  @else if ($brk == 'large') {
    @media (min-width: 1200px) {
      @content;
    }
  }
  @else {
    @error 'The input for media query must be small, medium or large!';
  }
}


// Text Mixin
@mixin text($size, $weight: null, $color: null, $l-height: null, $style: null) {
    font-size: $size;
    line-height: $l-height;
    font-weight: $weight;
    font-style: $style;
    color: $color;
}


// Flexbox Mixin
@mixin flex($disp: flex, $dir: null, $wrap: null, $just: null) {
    display: $disp;
    flex-direction: $dir;
    flex-wrap: $wrap;
    justify-content: $just;
}

// Center Item Mixin
@mixin centered($w: 100%) {
    width: $w;
    margin-left: auto;
    margin-right: auto;
}

// Adjacent sibling margins

@mixin doubly($margin: 1em) {
	& + & {
	  margin-left: $margin;
    @content;
	}
}
