/*
Image:
.img--logo
.img--frame
.img--avatar
*/

.img--logo,
.img--frame,
.img--avatar {
    @extend %image;
}

.img--logo {
    @include centered(120px);
    @include media(medium) {
        margin-left: 0;
    }
}

.img--frame {
    @include centered;
    padding: 1em;
    border: 1px solid $grey;
}

.img--avatar {
    @include centered(60%);
    @include media(medium) {
        @include centered;
    }
}
